@charset "UTF-8";



.sidebar {
	margin:0;
	padding:0;
	position:absolute;
    width: 20vh;
    background-color: #ffebb5;
    padding: 20px;
    height: 70vh;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    text-decoration: none;
    color: #333;
}