<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- <link rel="stylesheet" href="css/login.css"> -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/header.css" />
</head> 
<body>
	<div th:replace="fragments/header :: header"></div>

    <div class="container">
        <h1>Hello World!</h1>
        
        <!-- 세션에 저장된 사용자 정보 출력 -->
        <div th:if="${session.user != null}">
            <p >세션에 저장된 사용자 정보:</p>
            <p>사용자 이름: <span th:text="${session.user.userIdx}"></span></p>
            <!-- 필요한 경우 추가적인 사용자 정보 출력 -->
        </div>
        
        <!-- 로그인 페이지로 이동 링크 -->
        <a href="/login">로그인페이지로 이동</a>
        <a href="/user/pwd-check">마이페이지</a>
        <a href="/logout">로그아웃</a>
    </div>
</body>
</html>