<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="sidebar">
        <div class="sidebar">
            <ul>
                <li th:if="${user.provider == 전체}"><a href="/user/mypage/change-pwd" th:href="@{/user/mypage/change-pwd}">비밀번호 변경</a></li>
                <li><a href="/user/mypage/my-post" th:href="@{/user/mypage/my-post}">내 게시글 보기</a></li>
                <li><a href="/user/mypage/withdrawal" th:href="@{/user/mypage/withdrawal}">탈퇴</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
